.link {
  svg {
    transition: 0.5s;
    // background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    // background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    // background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
